{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        {% for label, messages in app.flashes(['success']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block page_contents %}{% endblock %}
    </div>
{% endblock %}
